body {
  background-color: #cdcfd3;
}

.container {
  overflow: hidden;
  background-color: #ffffff;
}

.jumbotron {
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

img#banner-img {
  max-width: 100%;
}

#ruby, #c-net, #css-design, #unicorn {
  display: none;
  margin: auto;
  width: 700px;
  background-color: #f2f2f2;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.unicorn {
  width: 100%;
}

img.logo {
  width: 40px;
}

img.footer-logo {
  width: 30px;
  padding-bottom: 10px;
}

.intro {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  font-weight: bold;
}

#form {
  margin: auto;
  width: 600px;
  background-color: #f2f2f2;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  margin-top: 20px;
}

.clickable {
  color:#2a94bf;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  color: #02a0e0;
}

.clickable:hover {
  text-decoration: underline;
}

#footer {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  border-top: 2px solid #f2f2f2;
}

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 20px 0px;
}

#footer li, a {
  display: inline;
  font-size: 16px;
  color: #757883;
  text-decoration: none;
  text-align: center;
}

.legal {
  font-size: 12px;
  font-color: #757883;
}
