body {
  background-color: #cdcfd3;
}

.container {
  background-color: #fff;
  overflow: hidden;
}

.jumbotron {
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

img#banner-img {
  max-width: 100%;
}

#ruby, #c-net, #css-design, #unicorn {
  display: none;
}

img.logo {
  width: 40px;
  blend-mode: multiply;
}

.intro {
  background-color: #c2c6c6;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  font-weight: bold;

}
